<?xml version="1.0" ?>
<!--
/**
 * @author Karen Rumbie Creatives
 * @copyright Copyright © Karen Rumbie Creatives
 * @package KarenRumbie_StickyTabBar
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="KarenRumbie_StickyTabBar::config_karenrumbie_stickytabbar" title="Karen Rumbie Sticky Tab Bar" translate="title" />
            </resource>
        </resources>
    </acl>
</config>