<?xml version="1.0"?>
<!--
/**
 * @author Karen Rumbie Creatives
 * @copyright Copyright © Karen Rumbie Creatives
 * @package KarenRumbie_StickyTabBar
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="KarenRumbie\StickyTabBar\Model\Upload\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">karenrumbie_creditstorebase/tmp/uploads</argument>
			<argument name="basePath" xsi:type="string">karenrumbie_creditstorebase/uploads</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="png" xsi:type="string">png</item>
				<item name="PNG" xsi:type="string">png</item>
				<item name="svg" xsi:type="string">svg</item>
			</argument>
        </arguments>
    </type>
</config>
