<?xml version="1.0" ?>
<!--
/**
* @author Vectra Team
* @copyright Copyright © Vectra Business Technologies
* @package Vectra_StickyTabBar
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vectra" sortOrder="0" translate="label">
			<label>Vectra</label>
		</tab>
        <section id="stickytabbar" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10" translate="label">
            <label>Mobile sticky tab bar</label>
            <tab>vectra</tab>
            <resource>Vectra_StickyTabBar::config_vectra_stickytabbar</resource>
            <group id="config_general" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General</label>
                <field id="stickytabbar_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
					<label>Enable Mobile Sticky Tab Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
            </group>
            <group id="config_nav_one" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Sticky Tab Bar Item One</label>
                <field id="nav_one_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
					<label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

                <field id="stickytabbar_one_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <field id="nav_one_icon" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="nav_one_icon_active" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="stickytabbar_one_link" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Link</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <depends>
                    <field id="stickytabbar/config_general/stickytabbar_enable">1</field>
                </depends>
            </group>

            <group id="config_nav_two" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Sticky Tab Bar Item Two</label>
                <field id="nav_two_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="stickytabbar_two_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <field id="nav_two_icon" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="nav_two_icon_active" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="stickytabbar_two_link" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Link</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <depends>
                    <field id="stickytabbar/config_general/stickytabbar_enable">1</field>
                </depends>
            </group>

            <group id="config_nav_three" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Sticky Tab Bar Item Three</label>
                <field id="nav_three_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="stickytabbar_three_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <field id="nav_three_icon" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="nav_three_icon_active" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="stickytabbar_three_link" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Link</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <depends>
                    <field id="stickytabbar/config_general/stickytabbar_enable">1</field>
                </depends>
            </group>

            <group id="config_nav_four" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Sticky Tab Bar Item Four (Account)</label>
                <field id="nav_four_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="stickytabbar_four_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <field id="nav_four_icon" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="nav_four_icon_active" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <depends>
                    <field id="stickytabbar/config_general/stickytabbar_enable">1</field>
                </depends>
            </group>

            <group id="config_nav_five" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Sticky Tab Bar Item Five (Cart)</label>
                <field id="nav_five_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="stickytabbar_five_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label" type="text">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/stickytabbar_enable">1</field>
                    </depends>
                </field>

                <field id="nav_five_icon" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <field id="nav_five_icon_active" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media">vectra_stickytabbar/icons/</upload_dir>
                    <base_url type="media" scope_info="1">vectra_stickytabbar/icons/</base_url>
                </field>

                <depends>
                    <field id="stickytabbar/config_general/stickytabbar_enable">1</field>
                </depends>
            </group>
        </section>
    </system>
</config>